{{ define "main" }}
<div class="main-home">

  <div class="home-box">
      <div class="img-home-con">
          <img src="./imagelogo.png" alt="" class="img-home">
      </div>
      <div class="head-home-con">
          <span class="head-home">Welcome to StormyCloud</span>
      </div>
      <div class="para-home-con">
          <span class="para-home">StormyCloud Inc is a 501(c)(3) non-profit organization based in Texas. The
              organization’s mission is to provide privacy based tools to allow everyone access to an unfiltered
              and unregulated Internet. We believe that unfettered access to the Internet is a basic, universal
              human right. However, not all people have access to an unrestricted version of the Internet.</span>
      </div>
      <div class="button-home-con">
          <button class="button-home"><span class="btn-span">Mission Statement</span></button>
      </div>
  </div>
</div>
{{ end }}
