<div class="bottom-bar" style="position: fixed;bottom: 0;left: 0;z-index: 1000;">
    <a href="#">
        <div class="web-con bottom-element-con">
            <span class="web-con bottom-element">WEB</span>
        </div>
    </a>
    <a href="#">
        <div class="tor-con bottom-element-con">
            <span class="tor bottom-element">TOR</span>
        </div>
    </a>
    <a href="#">
        <div class="i2p-con bottom-element-con ">
            <span class="i2p bottom-element">I2P</span>
        </div>
    </a>
    <a href="#">
        <div class="twitter-con bottom-element-con">
            <img src="/twitter-154-svgrepo-com.png" alt="Twitter" class="bottom-pics bottom-element">
        </div>
    </a>
    <a href="#">
        <div class="discord-con bottom-element-con">
            <img src="/discord-svgrepo-com.png" alt="discord" class="bottom-pics bottom-element">
        </div>
    </a>
    <a href="#">
        <div class="facebook-con bottom-element-con">
            <img src="/facebook-color-svgrepo-com.png" alt="facebook"
                class="bottom-pics bottom-element">
        </div>
    </a>
    <a href="#">
        <div class="tiktok-con bottom-element-con">
            <img src="/tiktok-svgrepo-com.png" alt="tiktok" class="bottom-pics bottom-element">
        </div>
    </a>
    <a href="#">
        <div class="instagram-con bottom-element-con">
            <img src="/instagram-svgrepo-com.png" alt="instagram" class="bottom-pics bottom-element">
        </div>
    </a>
</div>
